html,
body {
    margin: 0;
    padding: 0;
    min-width: 100%;
    min-height: 100%;
}
#container {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#canvas {
    border: 1px solid black;
}

